*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  font-size: clamp(1rem, 1.5vw, 1.125rem);
  background: linear-gradient(#ffd6d6, #a86060);
}
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;

}
nav ul li{
  display: inline-block;
  margin-left: 20px;
}

p{
  color: #555;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  flex-wrap: wrap;
  align-items: stretch;
 /* background-image: url(image/images/Dream-\ Night.avif);*/
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.col-2{
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 20px 0;
}
.col-2 .btn{
  display: inline-block;
  background: #ff523b;  
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
}
.col-2 .btn:hover{
  background: #563434;
  cursor: pointer;
}
.header .row{
  margin-top: 70px;
}
.header{
  background: radial-gradient(#fff, #ffd6d6);
}

.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
  border: 5px solid #ddd;
  border-radius: 10px;
}
.col-3 img{
  width: 100%;
  border-radius: 10px;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-4{
  flex-basis: 25%;
  min-width: 200px;
  margin-bottom: 50px;
  padding: 10px;
  transition: transform 0.7s ease;
}
.col-4 img{
  width: 100%;
  border-radius: 10px;
}
.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  width: 80px;
  height: 5px;
  background: #ff523b;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
h4{
  color: #555;
  font-weight: normal;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
}
.col-4 p{
  font-size: 14px;
}
.rating{
  color: #ff523b;
  font-size: 14px;
}
.col-4:hover{
  transform: translateY(-10px);
}
/*------- offer section -------*/

.offer{
  background: radial-gradient(#fff, #ffd6d6);
  padding: 30px 0;
  margin-top: 80px;
}
.col-5 .offer-img{
  padding: 10px;
}

.col-5 .btn{
  background: #ff523b;
}

.col-5 .btn:hover{
  background: #563434;
  color: #fff;
}
small{
  color: #555;
}
/*------- testimonial section -------*/
.testimonial{
  padding-top: 100px;
  color: #000000;
}
.testimonial .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s ;
}
.testimonial .col-3 img{
  width: 100px;
  border-radius: 50%;
  margin-top: 20px;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
  color: #555;
}
.fa.fa-quote-left{
  color: #ff523b;
  font-size: 35px;
  position: relative;
  top: -10px;
}
.col-3 p{
  font-size: 14px;
  color: #777;
  margin: 12px 0;
}
.testimonial .col-3 h3{
  font-weight: 650;
  color: #555;
  margin: 10px 0;
  font-size: 15px;
}
/*------- brands section -------*/
.brands{
  margin: 100px auto;
  text-align: center;
}
.col-5 img{
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
}
.col-5 img:hover{
  filter: grayscale(0%);
  transform: translateY(-10px);
  transition: transform 0.5s ease;
}
/*------- footer section -------*/
.footer{
  background: #000;
  color: #8a8a8a;
  padding: 50px 0 20px;
  font-size: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  text-align: left;
}
.footer p{
  color: #8a8a8a;
  margin-bottom: 10px;
}

.footer h3{
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}
.footer-col-1,
.footer-col-2, 
.footer-col-3,
.footer-col-4{
  margin-bottom: 250px;
  min-width: 20px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
  flex-basis: 1;
  text-align: center;
}
.footer-col-2 img{
  width: 180px;
  margin-bottom: 20px;
}
.footer-col-3, .footer{
  flex-basis: 12%;
  text-align: center;
}
ul{
  list-style-type: none;
}
.app-logo{
  text-align: center;
  margin-top: 20px ;
}
.app-logo img{
  width: 140px;
}
.footer hr{
  border: none;
  height: 1px;
  background: #b5b5b5;
  margin: 20px 0;
}
.copyright{
  text-align: center;
}
.menu-icon{
  margin-left: 20px;
  margin-left: auto;
  width: 30px;
  display: none;

}

#topBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ff523b;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
#topBtn:hover {
  background-color: #555;
}

/*------- media queries for menu -------*/
@media only screen and (max-width: 650px){
  
  nav ul{
    position: absolute;
    background: #333;
    left: 0;
    top: 70px;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease-in;
  }
  nav ul li{
    display: block;
    margin-right: 50;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}


/*------- all product page -------*/

h2{
  text-align: center;
  margin: 70px 0;
  font-size: 30px;
  color: #555;
}
.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}
.row-2 .selector{
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #333;
  font-size: 15px;
  text-align: left;
  background: #ff523b;
}
.row-2 .selector:hover{
  background: #333;
  color: #fff;
} 

.row-2 .selector:focus{
  outline: none;
  border-color: #300c08;
}
.page-btn{
  margin: 0 auto 80px;
}
.page-btn span{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #ff523b;
  margin-left: 10px;
  cursor: pointer;
  text-align: center;
}
.page-btn span:hover{
  background: #ff523b;
  color: #fff;
}
.col-2 .btn{
  background: #ff523b;
  color: #fff;
}
a:focus-visible, button:focus-visible, input:focus-visible {
  outline: 2px dashed #ff523b;
  outline-offset: 3px;
}



/*-------- single product details-------*/
.single-product{
  margin-top: 80px;
}
.single-product .col-2{
  flex-basis: 50%;
  min-width: 300px;
  padding: 0 50px;
}
.single-product .col-2 img{
  max-width: 100%;
  padding: 10px 5px;
  border: #000 1px solid;
  border-radius: 15px;
}
.single-product h4{
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0;
}
.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
  width: 200px;
}
.single-product input{
  width: 70px;
  height: 40px;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  border-radius: 2px;
  border: 2px solid #333;
}
input:focus{
  outline: none;
  border-color: #ff523b;
}
.single-product .fa{
  color: #ff523b;
  margin-left: 10px;
}
.small-img-row{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
.small-img-col img{
  width: 100%;
  border-radius: 10px;
  transition: transform 0.5s ease;
}
/*------- cart page -------*/

.cart-page{
  margin: 80px auto;
}

table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  font-weight: normal;
  color: #fff;
  background: #ff523b;
}
td{
  padding: 10px 5px;
}
td input{
  width: 70px;
  height: 30px;
  padding: 5px;
  font-size: 15px;
  border-radius: 2px;
  border: 2px solid #333;
}
td a{
  color: #ff523b;
  font-size: 20px;
}
td a:hover{
  color: #563434;
}
td img{
  width: 120px;
  border-radius: 10px;
  margin-right: 10px;
  height: 150px;
}
.cart-text{
  font-size: 20px;
  margin-top: 20px;
}
.total-price{
  display: flex;
  font-size: 20px;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 420px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
.form-container{
  background: #fff;
  width: 300px;
  height: 420px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
}



/*------- account page -------*/



.account-page{
  padding: 50px;
  background: radial-gradient(#fff, #ffd6d6);
}

.form-container{
  background: #fff;
  width: 300px;
  height: 400pxpx;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.form-container span{
  font-weight: bold;
  color: #555;
  padding: 0 10px;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}
.form-btn{
  display: inline-block;

}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition:  transform 1s;
}

form input{
  width: 100%;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin: 10px 0;
}
form .btn{
  width: 100%;
  border: none;
}
form .btn:focus{
  outline: none;
}
#LoginForm{
  left: -300px;

}
#RegForm{
  left: 0;
}
form a{
  font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: transform 1s;
}

.container-3{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background-image: url(image/images/Dream-\ Night.avif);
  flex-wrap: wrap;
  align-items: stretch;
}
/*-----contact us page---*/
.container-5{
  height: 100vh;
  align-items: stretch;
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;

}
.contact-left-title{
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}
.contact-left-title hr{
  border: none;
  width: 145px;
  height: 5px;
  background-color: #5b2961;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-inputs{
  width: 400px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #6666;
  border-radius: 50px;
}
.contact-left{
  height: 1400px;
  border-radius: 20px;
  padding-top: 15px;
}
.contact-inputs:focus{
  border: 2px solid #5b2961;
  background: #000;
  color: #fff;
}
.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: #fff;
  gap: 10px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(#a363aa, #5b2961);
}
.contact-right img{
  width: 600px;
}
.contact-left button img{
  height: 15px;
}
.message-area{
  height: 100px;
  width: 300px;
  border-radius: 5px;
  font-weight: 670;
}
.message-area:hover{
  background: #000;
  color: #fff;
  border: 4px solid #5b2961;
}
.contact-left-title h2{
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}


/*----youtube subscribe-----*/

.youtube-subscribe {
  position: relative;
  text-align: right;
  padding:  1rem;
  background-color: #f3e4e4;
  display: inline-block;
  transition: background-color 0.3s ease;
  margin: 20px;
  border-radius: 15px;
}
.youtube-subscribe:hover{
  background-color: #cc0000;
}
.youtube-subscribe .g-ytsubscribe{
  transform: scale(1.2);  
  transform-origin: left center;
}
.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 9px;
  position: absolute;
  z-index: 0;
  top: -40px;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 14px;
  white-space: nowrap;
}
.youtube-subscribe:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


/*------about page------*/
.main-container{
  margin: 8px 7px;
  text-align: center;
  padding-top: 25px;
  display: flexbox;
  font-family: sans-serif;
  align-items: center;
  justify-content: space-around;
}
.main-container img{
  border-radius: 10px;
}
.content.social-link{
  display: flex;
  gap: 3rem;
  align-items: center;
}
.content.social-link a{
  font-size: 1.2rem;
  position: relative;
  color: #000;
  text-decoration: none;
  font-weight: 500;
  transform: 0.3s linear;

}
.content.social-link a::before{
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color:  #ffd6d6;
  transition: 0.2s linear;
}
.HiCon{
  display: flex;
  border-radius: 10px;
  gap: 20px;
  margin-top: 30px;
  justify-content: center
  
  /*width: 170px;
  height: 50px;*/
}
.HiCon .Hire button,
.HiCon .Contact button{
  background: #b67474;
  padding: 12px 24px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.HiCon .Hire button:hover,
.HiCon .Contact button:hover{
  background-color: #300c08;
  color: wheat;
  border-radius: 25px;
}



/* Animated button style */
.animated-btn {
  display: inline-block;
  padding: 12px 24px;
  background-color: #b67474;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
  animation-delay: 0.5s;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Hover pop animation */
.animated-btn:hover {
  transform: scale(1.1);
  background-color: #b67474;
}

/* Entrance animation keyframes */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Container slide-in (optional) */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .HiCon {
    flex-direction: column;
    align-items: center;
  }
}



@media (max-width: 600px) {
  .HiCon {
    flex-direction: column;
    align-items: center;
  }
}


/*---- contact queries---*/
@media (max-width:600){
  .contact-inputs{
    width: 80vw;
  }

  .contact-right{
    display: none;
  }
}






/*------- media queries for responsive design -------*/
@media only screen and (max-width: 1000px){
  .row{
    text-align: center;
    flex-direction: column;
    align-items: center;
  }

  .col-2{
    flex-basis: 100%;
  }
  .col-3{
    flex-basis: 100%;
  }
  .col-4{
    flex-basis: 100%;
  }
  .single-product .row{
    flex-direction: column;
    text-align: left;
  }
  .single-product .col-2{
    flex-basis: 100%;
    padding: 20
    px 0;
  }
  .single-product h1{
    font-size: 30px;
    line-height: 40px;
  }
  .cart-info{
    display: none;
  }
}